@font-face {
  font-family: 'AdventProSemiBold';
  src:url('AdventPro-SemiBold.ttf');}
@font-face {
  font-family: 'AdventPro';
  src:url('AdventPro-Regular.ttf');}
@font-face {
  font-family: 'AdventProMedium';
  src:url('AdventPro-Medium.ttf');}
@font-face {
  font-family: 'AdventProBold';
  src:url('AdventPro-Bold.ttf');}
@font-face {
  font-family: 'AdventProExtraLight';
  src:url('AdventPro-ExtraLight.ttf');}
@font-face {
  font-family: 'AdventProLight';
  src:url('AdventPro-Light.ttf');}
@font-face {
  font-family: 'AdventProThin';
  src:url('AdventPro-Thin.ttf');}


body {
  margin: 0;
  background-color: #16265A;
}



#header {
  background-color: #FFFFFF;
  height: 55px;
  margin: 0px 345px 0 1000px;
}

#header div{
  display: inline-block;
  margin: 0px 8px;
  font-family: 'AdventProBold';
  font-size: 1.75em;
  position: relative;
  left: 15px;
  top: 12px;
  }

.btnsub a:link{
  text-decoration: none;
  color: #16265A;
  padding: 5px 15px;
  border: solid 2px #16265A;
}
.btnsub a:visited{
  color: #16265A;
  padding: 5px 15px;
  border: solid 2px #16265A
}
.btnsub a:hover{
  background-color:#16265A;
  color: #FFFFFF;
  padding: 5px 15px;
}

.btnget a:link{
  text-decoration: none;
  background-color: #16265A;
  color: #FFFFFF;
  padding: 5px 15px;
  }
  .btnget a:visited{
      background-color: #16265A;
      color: #FFFFFF;
      padding: 5px 15px;
      }
.btnget a:hover{
    background-color:#FFFFFF;
    color: #16265A;
    border: solid 2px #16265A
    }




#HomeApp {
  -moz-column-count: 2;
  width: 100%;
  background-color: #FFFFFF;
  font-family: 'AdventProSemiBold';
  font-size: 1.5em;
  color: #16265A;
  height: 500px;
  padding: 50px 0px 0px 0px;
}

#homecolumn div {
  padding-top: 50px;
}

.pic {
  height: 500px;
  padding: 0px 0px 0px 450px;
}

.storepic {
  padding-top: 50px;
  width: 25%;
}



#signs {
  display: inline-block;
  margin: 100px 0px 150px 0px;
}

.picsigns {
  margin-top: -275px;
  margin-right: 150px;
  margin-left: 850px;
}
.sign {
  display: inline-block;
}
/*.sign:hover {
  background-color: #00BDFF;
}*/

#textsigns {
  margin-right: 900px;
  margin-left: 225px;
  margin-top: 100px;
  font-family: 'AdventProSemiBold';
  color: #FFFFFF;
  font-size: 1.5em;
  text-align: right;
}
#textsigns a:link{
  font-size: 1.25em;
  text-decoration: none;
  background-color:#FFFFFF;
  color: #16265A;
  padding: 5px 15px;
  position: relative;
  top: 50px;
  margin: 0px 285px 0px 0px;
}
#textsigns a:visited{
  font-size: 1.25em;
  text-decoration: none;
  background-color:#FFFFFF;
  color: #16265A;
  padding: 5px 15px;
  position: relative;
  top: 50px;
  margin: 0px 285px 0px 0px;
}
#textsigns a:hover{
  font-size: 1.25em;
  color: #FFFFFF;
  background-color: #16265A;
  border: solid 2px #FFFFFF;
  padding: 5px 15px;
  position: relative;
  top: 50px;
  margin: 0px 285px 0px 0px;
}



#users {
  background-color: #FFFFFF;
}
#userstext {
  color: #16265A;
  font-size: 1.5em;
  text-align: center;
  font-family: 'AdventProSemiBold';
  padding: 100px 0px 0px 0px;
}

#fdback {
  -moz-column-count: 2;
  width: 100%;
  font-family: 'AdventProSemiBold';
  font-size: 1.5em;
  color: #16265A;
  height: 500px;
  padding: 50px 0px 0px 0px;
}

#marco{
  color: #00BDFF;
}

#fdbcolumn {
  font-family: 'AdventProBold';
  font-size: 20px;
  text-align: left;
}

#fdbcolumn div {
  padding: 100px 350px 0px 0px;
}

#fdbcolumn h2 {
 font-size: 40px;
}


#subscribe {
  color: #FFFFFF;
  text-align: center;
  font-family: 'AdventProSemiBold';
  padding: 50px 0px 50px 0px;
  font-size: 1.5em;
}

#mail {
  margin: 0px 0px 50px 685px;
}

#mailentry {
width: 30%;
}

footer img {
  height: 75px;
  position: relative;
  left: 825px;
  padding-bottom: 50px;
}
